#root, html{
    margin:0;
}

body{
    background-image: url('/img/photo-1551077748-be0ebda5bd6d.jpg');
}

.header{
    max-width:100%;
    display: inline-block;
    padding: 0 10px 0 10px;
    border:0.1px solid gray;
    margin: 5% auto auto 3.5%;
    background-color: black;
}
h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}

.body-part{
    max-width:100%;
    text-align: center;
}
p{
    margin-top:60px;
    display:inline-block;
    color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: light;
    letter-spacing: 2px;
    

}

input[type=text]{
    border:0.1px solid gray;
    padding:5px;
    border-radius:2px;
    font-size:12px;
}

input[type=button]{
    background-color: green;
    border:0.1px solid green;
    padding-bottom:3.5px;
    text-transform: uppercase;
    font-size:16px;
    color: white;
    cursor: pointer;
    transition: 0.6s;
}
input[type=button]:hover{
    background-color: darkgreen;
    border-color:darkgreen;
}

h3{
    text-transform: capitalize;
    font-size:15px;
    font-style:italic;
    text-decoration: underline;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.2s;
}

h3:hover{
    font-weight: bold;
}

.href{
    color: white;
}
.main-para{
    color:white;
   
}





/* LIST PAGE LAYOUT*/


.tablePart{
    margin-top:50px;
    color:white;
    width:100%;
    border-collapse:collapse;
    font-size:16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.tablePart th{
    background-color: white;
    color: black;
}
.tablePart td, .tablePart th{
    padding:5px;
    border:0.2px solid gray;
}

.pagination{
    display: flex;
    margin-top: 30px;
    flex-direction: row;
    
    justify-content: center;
    
  
}
.pagination a {
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  font-weight: bold;
}

.pagination a.active {
  background-color: gray;
  color: white;
}

.pagination a:hover:not(.active) {background-color: #FFE5EB;}


@media screen and (min-width: 600px) {
    body {
      background-image: url('/img/wing-221526_1280.jpg');
    }

    .header{
       
        padding: 0 20px 0 20px;
        border:0.1px solid gray;
        margin: 5% 32% auto 30%;
        background-color: black;
    }


    .tablePart{
        width:50%;
        margin-left:18em;
    }

    .tablePart td, .tablePart th{
        border-color: white;
    }
  }